@model IEnumerable<Customer>
@{

    Layout = null;
    int num = 1;
}


<html>
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>

    <table class="table table-stipped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Vehicle Year</th>
                <th scope="col">Vehicle Make</th>
                <th scope="col">Vehicle Model</th>
                <th scope="col">Actions</th>
  
            </tr>
        </thead>
        <tbody>

            @foreach (var customer in Model)
            {
            <tr>
                <th scope="row">@num</th>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                <td>@customer.Year</td>
                <td>@customer.Make</td>
                <td>@customer.Model</td>
              <td><a href="/bome/customers/edit/@customer.Id"> Edit</a> | <a href="/home/customers/delete/@customer.Id">Delete</a></td> 


            </tr>

                num++;
            }
        </tbody>
    </table>



</body>

</html>
